[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
skip-name-resolve
wait_timeout=3000
join_buffer_size=1M
key_buffer=128M
max_allowed_packet=1280M
myisam_sort_buffer_size=64M
read_buffer_size=64M
read_rnd_buffer_size=64M
sort_buffer_size=128M
max_connections = 512
max_user_connections = 512
table_cache = 2056
max_connect_errors=512
thread_cache_size=129
thread_concurrency=4
query_cache_size=1M
query_cache_limit=1M
query_cache_type=1
query_cache_min_res_unit= 2M
max_heap_table_size = 2M
tmp_table_size = 2M
max_tmp_tables = 100
join_buffer = 2M
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
[client]
default-character-set=utf8

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
log-slow-queries=/var/log/mysqld_slow.log
[mysqld]
